<div class="wrap">
	<div clss="left">
	    <div class="container">
			<div id="example" class="example">
			</div>
		</div>
		<div  class="container">	
			<div id="summary" class="summary">
			</div>
		</div>
	</div>
	<div class="right">
		<div id="shapes" class="shapes">
		    <div class="tabs">
		    </div>
		    <div class="thumnails">
		    </div>
		    <div class="colors">
		    </div>
		</div>
	</div>
</div>