<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <meta name="apple-mobile-web-app-title" content="custom">
</head>
<body>
    {{{body}}}
<script data-main="/js/client" src="/static/lib/require.js"></script>
</body>
</html>
